body {
    background: rgb(240, 240, 240);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    color: #262626;
}

#header-h1 {
    font-family: 'Grand Hotel', cursive;
}

#header-input {
    background-color: rgb(240, 240, 240);
    color: gray;
    height: 40px;
    border-radius: 5px;
    border: 0px solid rgb(240, 240, 240);
    text-indent: 10px;
    font-size: 20px;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

#post {
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
}

#post-location {
    color: #262626;
    font-size: 12px;
}