body {
    background: rgb(240, 240, 240);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
}

#header-h1 {
    font-family: 'Grand Hotel', cursive;
    width: 200px;
}

.input {
    background-color: rgb(240, 240, 240);
    color: gray;
    border-radius: 5px;
    border: 0px solid rgb(240, 240, 240);

}

#header-input {
    height: 40px;
    text-indent: 10px;
    font-size: 20px;
    width: 200px;
}

.submit-input {
    height: 16px;
    width: 180px;
    text-indent: 5px;
    font-size: 12px;
    margin: 4px;
}

#submit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    width: 450px;
}

#submit-button {
    background-color: white;
    border: 0 solid black;
    border-radius: 5px;
}

#submit-button:hover {
    border: 2px solid black;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

#post {
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: black;
}

#post-location {
    color: #262626;
    font-size: 12px;
}